<!DOCTYPE html>
<html>
  <head>
    <title>Yantra</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
     <%= render 'shared/header' %>
    </header>
      <div class="container">
       <%= yield %>
      </div>
    <%= render 'shared/footer' %>
  </body>
</html>
